.wiki {
  background-color: var(--white-color);
  font-size: 1.6rem;
}
.wiki a {
  color: var(--link-color);
}
.wiki a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.wiki .main-content {
  margin: 0px;
}
.wiki .sidebar-nav {
  position: relative;
}
.wiki .sidebar {
  background-color: rgb(247, 247, 247);
  border-left: 1px solid rgb(236, 236, 236);
  margin-right: -999px;
  padding-right: 999px;
}
.wiki .sidebar ul {
  margin: 0px;
  padding-left: 25px;
}
.wiki .sidebar-list .list-item {
  list-style: none;
}
.wiki .sidebar-list .list-item .active {
  font-weight: bold;
}
.wiki .sidebar-list .list-item .icon-border {
  width: 4px;
  height: 25px;
  border-left: 4px solid rgb(97, 218, 251);
  padding-left: 16px;
  position: absolute;
  left: 5px;
  margin-top: -2px;
}
.wiki .sidebar-list .list-item a {
  display: inline-block;
  margin-top: 5px;
  line-height: 1.8rem;
}
